<div class="m-player"
     [@showHide]="showPlayer"
     appClickoutside
     (clickOutSide)="onClickOutSide($event)"
     [bingFlag]="bingFlag"
     (mouseenter)="togglePlayer('show')"
     (mouseleave)="togglePlayer('hide')"
     (@showHide.start)="animating = true"
     (@showHide.done)="onAnimateDone($event)">
  <div class="lock"
       (click)="isLocked = !isLocked">
    <div class="left"><i [class.locked]="isLocked"></i></div>
  </div>
  <div class="hand"></div>
  <div class="container">
    <div class="wrap">
      <div class="btns">
        <i class="prev"
           (click)="onPrev(currentIndex - 1)"></i>
        <i class="toggle"
           [class.playing]="playing"
           (click)="onToggle()"></i>
        <i class="next"
           (click)="onNext(currentIndex + 1)"></i>
      </div>
      <div class="head">
        <img appImgDefalut [src]="picUrl"
             alt="">
        <i class="mask"
           (click)="toInfo(['/songInfo', currentSong && currentSong.id])"></i>
      </div>
      <div class="play">
        <div class="words clearfix">
          <p class="ellipsis margin-bottom-none"
             (click)="toInfo(['/songInfo', currentSong.id])">{{currentSong?.name}}</p>
          <ul class="songs clearfix margin-bottom-none">
            <li *ngFor="let item of currentSong?.ar; last as isLast">
              <a (click)="toInfo(['/singer', item.id])">{{item.name}}</a>
              <span [hidden]="isLast">/</span>
            </li>
          </ul>
        </div>
        <div class="bar">
          <div class="slider-wrap">
            <app-nc-slider [(ngModel)]="percent"
                           [bufferOffset]="bufferPercent"
                           (ncOnAfterChange)="onPercentChange($event)"></app-nc-slider>
          </div>
          <span class="time">
            <em>{{currentTime | formatTime}}</em>&nbsp;/&nbsp;{{duration | formatTime}}
          </span>
        </div>
      </div>

      <div class="oper">
        <i class="like"
           title="收藏"
           (click)="onLikeSong(currentSong ? currentSong.id.toString() : '')"></i>
        <i class="share"
           title="分享"
           (click)="onShareSong(currentSong)"></i>
      </div>
      <div class="ctrl">
        <i class="volume"
           title="音量"
           (click)="toggleVolPanel()"></i>
        <i [ngClass]="currentMode.type"
           [title]="currentMode.label"
           (click)="changeMode()"></i>
        <p nz-tooltip
           [nzTooltipTitle]="controlTooltip.title"
           [nzVisible]="controlTooltip.show"
           nzOverlayClassName="tip-bg"
           class="open"
           (click)="toggleListPanel()">
          <span></span>
        </p>

        <div class="control-vol"
             [hidden]="!showVolumePanel">
          <app-nc-slider [ncVertical]="true"
                         [(ngModel)]="volume"
                         (ngModelChange)="onVolumeChange($event)"></app-nc-slider>
        </div>
      </div>

      <app-nc-player-panel [songList]="songList"
                           [currentSong]="currentSong"
                           [playing]="playing"
                           [show]="showListPanel"
                           (changeSong)="onChangeSong($event)"
                           (handleClose)="showListPanel = false"
                           (deleteSong)="onDeleteSong($event)"
                           (clearSongList)="onClearSongList()"
                           (toInfoEvent)="toInfo($event)"
                           (likeSong)="onLikeSong($event)"
                           (shareSong)="onShareSong($event)"></app-nc-player-panel>

    </div>
  </div>

  <audio #audio
         [src]="currentSong?.url"
         (canplay)="onCanPlay()"
         (timeupdate)="onTimeUptate($event)"
         (ended)="onEnded()"
         (error)="onError($event.target)"></audio>
</div>