<div id="app">
  <nz-layout class="layout">
    <nz-header class="header">
      <div class="wrap">
        <div class="left">
          <h1>Music</h1>
          <ul nz-menu
              nzTheme="dark"
              nzMode="horizontal">
            <li nz-menu-item
                *ngFor="let item of menu"
                [routerLink]="item.path">{{item.label}}</li>
          </ul>
        </div>L
        <div class="right">
          <app-nc-search (searhChange)="onSearchChange($event)"
                         [searchResult]="searchResult"></app-nc-search>

          <div class="member">
            <div class="no-login"
                 *ngIf="!user else logined">
              <ul nz-menu
                  nzTheme="dark"
                  nzMode="horizontal">
                <li nz-submenu>
                  <div title>
                    <span>登录</span>
                    <i nz-icon
                       nzType="down"
                       nzTheme="outline"></i>
                  </div>
                  <ul>
                    <li nz-menu-item
                        (click)="openModal('loginByPhone')">
                      <i nz-icon
                         nzType="mobile"
                         nzTheme="outline"></i>
                      手机登录
                    </li>
                    <li nz-menu-item
                        (click)="openModal('register')">
                      <i nz-icon
                         nzType="user-add"
                         nzTheme="outline"></i>
                      注册
                    </li>
                  </ul>
                </li>
              </ul>
            </div>

            <ng-template #logined>
              <div class="login">
                <ul nz-menu
                    nzMode="horizontal"
                    nzTheme="dark">
                  <li nz-submenu>
                    <div title>
                      <nz-avatar nzIcon="user"
                                 [nzSrc]="user.profile.avatarUrl"></nz-avatar>
                      <i nz-icon
                         nzType="down"
                         nzTheme="outline"></i>
                    </div>
                    <ul>
                      <li nz-menu-item
                          [routerLink]="['/member', user.profile.userId]">
                        <i nz-icon
                           nzType="user"
                           nzTheme="outline"></i>我的主页
                      </li>
                      <li nz-menu-item
                          (click)="logout()">
                        <i nz-icon
                           nzType="close-circle"
                           nzTheme="outline"></i>退出
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </ng-template>

          </div>
        </div>
      </div>
    </nz-header>
    <nz-content class="content">
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer class="footer">
      Ant Design &copy;2019 Implement By Angular
    </nz-footer>
  </nz-layout>
</div>

<app-nc-player></app-nc-player>
<app-nc-layer-modal [visible]="visible"
                    [currentModalType]="currentModalType"
                    (loadMySheets)="onLoadMySheets()">
  <app-nc-layer-register name="register"
                         [visible]="visible"
                         (changeModalType)="onChangeModalType($event)"
                         (register)="onRegister($event)"></app-nc-layer-register>
  <app-nc-layer-login name="login"
                      [ncRememberLogin]="ncRememberLogin"
                      (login)="onLogin($event)"
                      (changeModalType)="onChangeModalType($event)"></app-nc-layer-login>
  <app-nc-layer-like name="like"
                     [mySheets]="mySheets"
                     [likeId]="likeId"
                     [visible]="visible"
                     (createSheet)="onCreateSheet($event)"
                     (likeSong)="onLikeSong($event)"
                     (changeModalType)="onChangeModalType($event)"></app-nc-layer-like>
  <app-nc-layer-share name="share"
                      [visible]="visible"
                      [shareInfo]="shareInfo"
                      (cancel)="closeModal()"
                      (share)="onShare($event)"></app-nc-layer-share>
  <app-nc-layer-default name="default"
                        (changeModalType)="onChangeModalType($event)"></app-nc-layer-default>
</app-nc-layer-modal>